<nav class="navbar-light navbar-expand-md bg-light">
   <div class="d-sm-flex">
  <!-- Brand -->
  <a href="#/" class="navbar-brand">
    <img src="assets/angular.png"/>
  </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbars" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
    </button>
  <!-- Brand -->
  <!-- Navbar links -->
  <div class="collapse navbar-collapse text-center" id="navbars">
    <ul class="navbar-nav nav-pills">
    <li class="nav-item">
      <a class="nav-link" routerLink="/basic-form" routerLinkActive="active">Basic Form</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/reactive-dynamic-form" routerLinkActive="active">Reactive Dynamic Form</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/reactive-form" routerLinkActive="active">Reactive Form</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/starter-reactive-form" routerLinkActive="active">Starter Reactive Form</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/starter-template-form" routerLinkActive="active">Starter Template Form</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/template-form" routerLinkActive="active">Template Form</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/update-on" routerLinkActive="active">Update On</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/customer-component" routerLinkActive="active">Custom Components</a>
    </li>
  </ul>
</div>
</div>
</nav>
<!-- Navbar links -->
<router-outlet></router-outlet>
